@import "~bootstrap/scss/bootstrap";

.btn-applemusic {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #f94c57;
  --bs-btn-border-color: #f94c57;
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#f94c57, 10%)};
  --bs-btn-hover-border-color: #{shade-color(#f94c57, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color(#f94c57, 20%)};
  --bs-btn-active-border-color: #{shade-color(#f94c57, 20%)};
}

.btn-deezer {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #111111;
  --bs-btn-border-color: #111111;
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#111111, 10%)};
  --bs-btn-hover-border-color: #{shade-color(#111111, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color(#111111, 20%)};
  --bs-btn-active-border-color: #{shade-color(#111111, 20%)};
}

.btn-amazon {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #146eb4;
  --bs-btn-border-color: #146eb4;
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#146eb4, 10%)};
  --bs-btn-hover-border-color: #{shade-color(#146eb4, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color(#146eb4, 20%)};
  --bs-btn-active-border-color: #{shade-color(#146eb4, 20%)};
}

.btn-spotify {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #1db954;
  --bs-btn-border-color: #1db954;
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#1db954, 10%)};
  --bs-btn-hover-border-color: #{shade-color(#1db954, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color(#1db954, 20%)};
  --bs-btn-active-border-color: #{shade-color(#1db954, 20%)};
}

.slick-next,
.slick-prev {
  color: black !important;
  height: 24px !important;
  width: 24px !important;
  z-index: 0;
  margin-left: 5px;
  margin-right: 5px;
}
