@import-normalize;

$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

body,
html,
#root {
  height: 100%;
}

body {
  font-family: $font-sans;
}

code {
  font-family: $font-mono;
}
